<section class="price">
  <div class="container">
    <h2 id="price-list" class="title title_fz16" style="color: yellow">Прайс-лист</h2>
    <div class="divider"></div>

    <div class="price__wrapper">
      <div class="price__item">
        <div class="price__type yellow">Класичне нарощування</div>
        <div class="price__count"><span>500 грн.</span>400 грн.</div>
      </div>
      <div class="price__item">
        <div class="price__type yellow">Нарощування 2D</div>
        <div class="price__count"><span>600 грн.</span>500 грн</div>
      </div>
      <div class="price__item">
        <div class="price__type blue">Нарощування 3D</div>
        <div class="price__count"><span>550 грн.</span>500 грн.</div>
      </div>
      <div class="price__item">
        <div class="price__type blue">Нарощування Голiвуд</div>
        <div class="price__count"><span>650 грн.</span>550 грн.</div>
      </div>
      <div class="price__item">
        <div class="price__type blue">Зняття вій з наступним нарощуванням</div>
        <div class="price__count">безкоштовно !</div>
      </div>
      <div class="price__item">
        <div class="price__type blue">Зняття вій</div>
        <div class="price__count"><span>150 грн.</span>100 грн.</div>
      </div>
    </div>
  </div>
</section>
