<section class="about">
    <div class="about__wrapper">
      <div class="about__photo">
        <img alt="photo" src="./assets/about_me/main_photo.jpg" >
      </div>
      <div class="about__descr">
        <h2 id="about_me" class="title title_fz16 about__title">Про мене</h2>
        <div class="about__subtitle"><b>Петренко Тетяна Володимирівна</b></div>
        <div class="divider"></div>
        <p class="about__text">Щоб зробити Ваше обличчя ще більш виразним наш салон надає послугу – нарощування вій (Бровари).
          Нарощені вії – це і красиво, і практично, підходять як для повсякденного носіння, так і для певного заходу.
          Густі, довгі вії підкреслять Ваші очі, зроблять погляд захопливим і спокусливим. До того ж більше не доведеться
          займатися пошуками підходящої туші і витрачати на неї кошти, змивати її кожен вечір, хвилюватися про те, що вона
          може потекти і образ буде зіпсований. Для нарощування вій ми використовуємо штучні матеріали, подібні
          за будовою з натуральним волоссям або шовковою ниткою, які не викликають алергічних реакцій. За вашим
          бажанням Ви зможете вибрати пучковий або порісничний спосіб нарощування.</p>
      </div>
      <div class="about__skills" id="skills">
        <div class="about__skills-item">
          <div class="about__skills-circle">
            <img src="./assets/icons/plus.svg" alt="mobile-dev">
          </div>
          <div>
            <div class="title title_fz14">
              <strong>Класичне нарощування</strong>
            </div>
            <p class="about__skills-text">
              Класичне нарощування вій — коли до однієї Вашої власної війки клеїться одна штучна (шовкова або норкова).
            </p>
          </div>
        </div>
        <div class="about__skills-item">
          <div class="about__skills-circle">
            <img src="./assets/icons/plus.svg" alt="mobile-dev">
          </div>
          <div>
            <div class="title title_fz14">
              <strong>Нарощування 2D</strong>
            </div>
            <p class="about__skills-text">
              Процедура об'ємного нарощування передбачає приклеювання до однієї
              натуральної вії двох штучних – це і буде нарощування 2D.
            </p>
          </div>
        </div>
        <div class="about__skills-item">
          <div class="about__skills-circle">
            <img src="./assets/icons/plus.svg" alt="mobile-dev">
          </div>
          <div>
            <div class="title title_fz14">
              <strong>Нарощування 3D</strong>
            </div>
            <p class="about__skills-text">
              В деяких випадках обмежуватися і цим необов'язково, і можна виконати нарощування 3D – три штучні вії,
              приклеєні до однієї натуральної.
            </p>
          </div>
        </div>
        <div class="about__skills-item">
          <div class="about__skills-circle">
            <img src="./assets/icons/plus.svg" alt="mobile-dev">
          </div>
          <div>
            <div class="title title_fz14">
              <strong>Нарощування Голiвуд</strong>
            </div>
            <p class="about__skills-text">
              Це різновид об'ємного нарощування, при якому лешмейкер кріпить до натуральної вії своєї клієнтки відразу
              кілька штучних вій – від 4 до 6. Використовуються дуже тоненькі і легкі штучні вії, що дозволяє
              отримати приголомшливий об'єм і не нашкодити натуральним віям.
            </p>
          </div>
        </div>
        <div class="about__skills-item">
          <div class="about__skills-circle">
            <img src="./assets/icons/plus.svg" alt="mobile-dev">
          </div>
          <div>
            <div class="title title_fz14">
              <strong>Зняття вiй</strong>
            </div>
            <p class="about__skills-text">
              Безпечніше довірити виконання даної процедури досвідченому майстрові.
              Це захистить від «сюрпризів». Та й скільки часу знімають нарощені вії, дуже вражає.
              Така процедура займе у досвідченого майстра не більше 15 хвилин.
            </p>
          </div>
        </div>
        <div class="about__skills-item">
          <div class="about__skills-circle">
            <img src="./assets/icons/plus.svg" alt="mobile-dev">
          </div>
          <div>
            <div class="title title_fz14">
              <strong>Зняття вій з наступним нарощуванням</strong>
            </div>
            <p class="about__skills-text">
              Такі професійні засоби як Дебондер або Ремувер навряд чи є у вашій домашній косметичці. Зняти нарощені
              вії за допомогою одного з них вийде майже так само просто і швидко, як і звичайний макіяж.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
